.container(style="max-width: 1200px")
  .center
    include ../../svg/examples.svg
  script.
    new Vivus('examples-svg', {type: 'oneByOne', duration: 200});

  // namespace for the examples
  script.
    window.examples = {};

  h4 Depth first search

  .example.row
    .six.columns
      pre
        code.javascript
          include ../../scripts/examples/dfs.js
    .six.columns
      #dfs
      script(src='scripts/examples/dfs.js')
      button.runner.center(data-example="dfs") run

  hr

  h4 Breadth first search

  .example.row
    .six.columns
      pre
        code.javascript
          include ../../scripts/examples/bfs.js
    .six.columns
      #bfs
      script(src='scripts/examples/bfs.js')
      button.runner.center(data-example="bfs") run

  hr

  h4 Eulerian trail
  .example.row
    .six.columns
      pre
        code.javascript
          include ../../scripts/examples/eulerian-trail.js
    .six.columns
      #eulerian-trail
      script(src='scripts/examples/eulerian-trail.js')
      button.runner.center(data-example="eulerian-trail") run

  // button disabled state
  script.
    d3.selectAll('[data-example]')
      .on('click', function (d) {
        var el = d3.select(this);
        var example = el.attr('data-example');
        if (el.attr('disabled')) { return; }
        window.examples[example]();
        el.attr('disabled', 'true');
      });

  hr

  .center
    h2 more examples coming soon...
