.container(style="max-width: 1200px")
  #examples-svg.center
  script.
    new Vivus('examples-svg', {type: 'oneByOne', duration: 200, file: '../svg/examples.svg'});

  // namespace for the examples
  script.
    window.examples = {};

  h4 Depth first search

  .example.row
    .six.columns
      pre
        code.javascript
          include ../../scripts/examples/dfs.js
    .six.columns
      #dfs
      script(src='scripts/examples/dfs.js')
      button.runner.center(data-example="dfs") run

  hr

  h4 Breadth first search

  .example.row
    .six.columns
      pre
        code.javascript
          include ../../scripts/examples/bfs.js
    .six.columns
      #bfs
      script(src='scripts/examples/bfs.js')
      button.runner.center(data-example="bfs") run

  script.
    d3.selectAll('[data-example]')
      .on('click', function (d) {
        var el = d3.select(this);
        var example = el.attr('data-example');
        if (el.attr('disabled')) { return; }
        window.examples[example]();
        el.attr('disabled', 'true');
      });
