.container
  #lifecycle-svg.center
  script.
    new Vivus('lifecycle-svg', {type: 'oneByOne', duration: 200, file: '../svg/lifecycle.svg'});

  p
    | A typical greuler program has the following lifecycle

    ul
      li The data describing a graph is bounded to some svg nodes and to the layout program Webcola
      li After the graph is rendered additional modifications can be made through
      li A utility program called the player is chosen to run animations on the graph
      li Each time the data is changed the user must update the b
