{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": 0,                // disallow use of console (off by default in the node environment)
    "no-unused-expressions": 0,     // disable error on sentences joined by &&
    "no-trailing-spaces": 0,        // disable throwing errors for trailing spaces
    "quotes": [2, "single"],        // specify whether double or single quotes should be used
    "strict": [2, "global"],        // controls location of Use Strict Directives
    "no-unused-vars": [1, {
      "vars": "all",
      "args": "after-used"
    }],
    "no-shadow": 0,                 // disallow declaration of variables already declared in the outer scope
    "eol-last": 0,                  // enforce newline at the end of file, with no multiple empty lines
    "indent": [2, 2],               // this option sets a specific tab width for your code
    "space-before-function-parentheses": [
      2, {
        "anonymous": "always",
        "named": "never"
      }
    ]
  }
}
