extends layout/base


block content
  include layout/header
  include includes/router-root
  include includes/intro
  include includes/installation
  include includes/usage
  include includes/api
  include includes/examples

  include layout/footer
