doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title greuler
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(href='http://fonts.googleapis.com/css?family=Handlee', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js')

    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/skeleton/css/normalize.css')
    link(rel='stylesheet', href='../bower_components/skeleton/css/skeleton.css')
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    script(src='private/d3.js')
    script(src='private/cola.v3.js')
    script(src='app.js')
    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/vivus/dist/vivus.js')
    // endbower
    // endbuild
  body
    include header

    block content

    block scripts

    include footer
