@main: #2980B9;

// overrides
body {
  margin: 50px 0;
  font-family: 'Alice', cursive;
  font-size: 2em;
  background: #fff;
}

svg {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

code {
  line-height: 12px;
  font-size: 12px;
  background: transparent;
  border: 1px solid #ECECEC;
}

button {
  border: 1px solid @main;
  color: @main;
}

// utilities
.center {
  margin: 0 auto;
  text-align: center;
}

.block-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* mobile rules */
div {
	p {
		color: #111;
	}
}

.text-animation svg * {
  fill: none;
}

#intro-wrapper {
  font-style: italic;
  font-size: 0.7em;
  margin: 40px 0;
}

@selector-example: 50px;
.example-numbers {
  min-width: 1px;
  span {
    border: 1px solid @main;
    margin: 5px 10px;
    width: @selector-example;
    height: @selector-example;
    display: inline-block;
    text-align: center;
    line-height: @selector-example;
    .border-radius(50%);

    &:hover {
      cursor: pointer;
    }
  }
}

.navbar-list {
  display: block;
}

.navbar-item {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #222;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .navbar-list {
    display: flex;
  }

  .navbar-item {
    flex: 1;
    width: 25%;
  }
}

.example-container {
  .examples-sidebar {
    font-size: 14px;

    li {
      margin: 0;
    }
  }

  .example {
    border-left: 1px solid #eee;
  }

  .row {
    margin-bottom: 30px;
  }

  button {
    text-transform: none;
    font-size: 14px;
    letter-spacing: normal;
    margin: 0 5px;
  }

  #annotations {
    margin: 10px;
    p {
      font-size: 14px;
      &.small {
        font-size: 10px;
      }
    }
  }
}
