.container
  .center
    include ../../svg/api.svg
  script.
    new Vivus('api-svg', window.site.vivusDefault);

  :markdown
    Assuming that `instance = greuler(options).update()` is called there are two ways to interact
    with the graph

  .center
    include ../../svg/graph.svg
  script.
    new Vivus('graph-svg', window.site.vivusDefault);

  :markdown
    `instance.graph` holds utility methods to manipulate the graph like adding/removing
    nodes and edges and other utility methods like querying the adjacent nodes of some node, etc.

    The convention I used for the project is to **always use objects as the first parameter to
    describe a node or edge** (an array/function is needed in some cases of some methods of
    `instance.graph` but they describe multiple nodes/edges),
    also all the methods of `instance.graph` (but the ones who add nodes and edges) receive a
    single parameter

    Please take a look at all the methods of `instance.graph` which can be found
    [here](https://github.com/maurizzzio/greuler/blob/master/src/Graph.js)

  // graph example
  .row(style="min-height: 360px;")
    .six.columns
      #graph-example
    .six.columns
      pre
        code.javascript#graph-example-description
  .row.noselect
    #graph-example-title.center(style="min-height: 50px")
    #graph-example-numbers.example-numbers.center
  script(src='scripts/examples/site/graph-example.js')

  hr

  .center
    include ../../svg/selector.svg
  script.
    new Vivus('selector-svg', window.site.vivusDefault);

  :markdown
    `instance.selector` holds utility methods to animate existing nodes/edges of the graph,
    under the hood it uses `instance.graph` and wraps the returning values inside d3 selections
    Just like `instance.graph` the first method will always be an object describing a node / edge,
    the second parameter is an override of the styles predefined to be used during the animation

  // selector example
  .row
    .six.columns
      #selector-example
    .six.columns
      pre
        code.javascript#selector-example-description
  .row.noselect
    #selector-example-title.center(style="min-height: 50px")
    #selector-example-numbers.example-numbers.center
  script(src='scripts/examples/site/selector-example.js')

  //hr
  //
  //.center
  //  include ../../svg/player.svg
  //script.
  //  new Vivus('player-svg', window.site.vivusDefault);
  //
