.container
  .row
    .four.columns
      .sidebar
        ul
          li
            a(href="#/examples/dfs") Depth First Search
          li
            a(href="#/examples/bfs") Breadth First Search
          li
            a(href="#/examples/eulerian-trail") Eulerian trail

    .eight.columns
      .example
        #demo

      //pre
      //  code
      //    {{ example.code }}
  button.center#runner(ng-click='example.run()') run
