.container.text-animation
  div(width='300px')
    #examples-svg
script.
  new Vivus('examples-svg', {type: 'oneByOne', duration: 200, file: '../svg/examples.svg'});

script.
  // namespace for the examples
  window.examples = {};

.container
  #dfs
  script(src='examples/dfs.js')

  #bfs
