.container(style="max-width: 1200px")
  #examples-svg
  script.
    new Vivus('examples-svg', {type: 'oneByOne', duration: 200, file: '../svg/examples.svg'});

  // namespace for the examples
  script.
    window.examples = {};

  .example.row
    .six.columns
      pre
        code.javascript
          include ../../examples/dfs.js
    .six.columns
      #dfs
      script(src='examples/dfs.js')

  #bfs
