.container
  p.center.description.
    <b>greuler</b> is graph theory visualization tool powered by <a href="http://d3js.org/">d3</a>
    and on top of <a href="http://marvl.infotech.monash.edu/webcola/">WebCola</a>
    which allows the creation and manipulation of graphs with a simple api
  hr

  #intro-wrapper(style="overflow: hidden")
    p.center#intro-description(style="width: 500px; height: 50px")
    #intro
    script(src='examples/intro.js')
    hr
