doctype html
html(lang='', ng-app='greuler')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title greuler - graph theory visualizations
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(href='//fonts.googleapis.com/css?family=Alice', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js')

    // Place favicon.ico in the root directory
    link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/skeleton/css/normalize.css')
    link(rel='stylesheet', href='bower_components/skeleton/css/skeleton.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
    script(src='//code.angularjs.org/1.4.3/angular-route.min.js')
    script(src='//code.angularjs.org/1.4.3/angular-sanitize.min.js')

    script(src='scripts/lib/d3.js')
    script(src='scripts/lib/cola.v3.js')

    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/vivus/dist/vivus.js')
    // endbower
    // endbuild

    // build:js greuler.min.js
    script(src='greuler.js')
    // endbuild

    // build:js scripts/site.js
    script(src='scripts/site/globals.js')
    script(src='scripts/site/app.js')
    script(src='scripts/site/utils.js')
    script(src='scripts/site/controllers.js')
    // endbuild
  body
    block content
