.container
  .center
    include ../../svg/banner.svg
    script.
      new Vivus('banner-svg', {type: 'oneByOne', duration: 200});

  .center
    span
      <iframe src="https://ghbtns.com/github-btn.html?user=maurizzzio&repo=greuler&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="iMauricio" data-url="http://maurizzzio.github.io/greuler/"  data-hashtags="visualization,graphtheory,dataviz">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

